body {
    background-color: whitesmoke;
    padding:20px;
    font: 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color:black;
    font-weight:400;
}

h2 {
    margin: 0 auto;
}

@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

header{
    color:black;
    margin:0 0 20px;
    line-height:1.1;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}
.current-tab{
    background-color: burlywood;
}

.barre-nav {
    margin: 0 auto;
    position: absolute;
    top: 100px;
    left: 50%;
    width: max-content;
    transform: translateX(-50%);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #EBECF1;
    border-radius: 30px;
    animation: slide-in 1s ease-out;
}

.barre-nav div:first-child{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.barre-nav div:last-child{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.barre-nav div{
    padding: 20px 0;
    display: inline-block;
    width: 200px;
    background-color: antiquewhite;
}

.barre-nav div p{
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.barre-nav div:hover {
    /*color: #3ca0e7;*/
    background-color: burlywood;
}

.niveau{
    padding:0.35em 1.2em;
    border:0.1em solid antiquewhite;
    border-radius:15px;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:500;
    color: black;
    transition: all 0.2s;
    background-color: antiquewhite;
    line-height: 35px;
    font-size: 15px;
    vertical-align: middle;
    width: 100px;
    margin: 10px auto;
    display: block;

}
.niveau:hover{
    color:#000000;
    background-color:burlywood;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
}

#container{
    margin-top: 30px;
    margin-right:auto;
    margin-left:auto;
    width: 500px;
    height: 500px;
    /*border: 0.1em solid black;*/
}

#containerDem{
    margin-top: 150px;
    margin-right:auto;
    margin-left:auto;
    width: 500px;
    height: 500px;
    /*border: 0.1em solid black;*/
}

#grille2048 {
    background-color: burlywood;
    border-radius:15px;
    padding: 10px;
}

#grille2048 .ligne{
    display: grid;

    /* Repris d'un TP de M. BUFFA
        1fr signifie "une fraction de la largeur de la grille", le repeat dit "9 cases"
       égales à une fraction (1/9ème) Voir https://css-tricks.com/snippets/css/complete-guide-grid/ */
    grid-template-columns: repeat(4, 1fr);
    /* Pour contraindre la hauteur des lignes */
    grid-auto-rows: 112.5px; /* Taille total de la grille (500) divisé par le nombre de ligne (4)*/

    grid-column-gap: 10px;
    grid-row-gap: 10px;
    border: 10px;
    margin-bottom: 10px;
}
#grille2048 .ligne:last-child{
    margin-bottom: 0;
}

#grille2048 .ligne .case{
    background-color: antiquewhite;
}

#case0-0 {
    border-top-left-radius: 15px;
}

#case0-3 {
    border-top-right-radius: 15px;
}
#case3-0 {
    border-bottom-left-radius: 15px;
}
#case3-3 {
    border-bottom-right-radius: 15px;
}
.canvas {
    border: 10px solid rgb(153, 153, 153);
    border-radius: 15px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 30%);
}

.canvas2 {
    border: 10px solid rgb(153, 153, 153);
    border-radius: 15px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 30%);
}

.rules {
    text-align: center;
    width: 300px;
}

.choose {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 10px;
}

.tuile{
    background-color: aqua;
    width: 100px;
    height: 100px;
}