.Profil{
    font-weight: 500;
    margin: 0 auto;
    text-align: center;
    width: 800px;
}
.Profil div{
    display: flex;
    align-items: center;
    position: relative;
}

.Profil div *:not(:first-child){
    margin: 10px auto;
    font-size: 20px;
}
.Profil :first-child { /*Score et Niveau*/
    font-size: 35px;
}


.Profil * :first-child{
    border: 10px burlywood;
    background-color: burlywood;
    border-radius: 10px;
    padding: 5px;
    width: 160px;
    text-align: center;
}


.Profil * :not(:first-child){ /*Tous les elements du container sauf les titres respective*/
    text-align: center;
    line-height: 50px;
}

#trophees{
    margin: 20px auto;
    width: 500px;
    text-align: center;
}

#trophees :first-child{
    font-weight: 500;
    font-size: 35px;
    text-align: center;
}

.trophee{
    display: inline-flex;
    text-align: center;
    margin: 5px auto;
}

#trophees * :not(:first-child){ /*Tous les elements du container sauf les titres respective*/
    width: 300px;
    text-align: center;
    margin: 10px;
    font-weight: 500;
}

.vide{
    transform: translate(0%, 50%);
    width: 300px;
    text-align: center;
    margin: 10px;
    font-weight: 500;
}