.Profil{
    font-weight: 500;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(0%, 40%);
    text-align: center;
}
.Profil div{
    display: flex;
    text-align: center;
}
.Profil :first-child { /*Score et Niveau*/
    font-size: 35px;
}

.Profil * :first-child{
    font-size: 20px;
    border: 10px antiquewhite;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 5px;
    line-height: 50px;
}

#ProfilDemineur *{
    margin: 10px;
}

#Profil2048 *{
    margin: 10px;
}

.Profil * :not(:first-child){ /*Tous les elements du container sauf les titres respective*/
    width: 300px;
    text-align: center;
}

#trophees{
    margin: 20px;
    top: 30%;
    transform: translate(0%, 50%);
}

#trophees :first-child{
    font-weight: 500;
    font-size: 35px;
    text-align: center;
}

.trophee{
    display: inline-flex;
    text-align: center;
}

#trophees * :not(:first-child){ /*Tous les elements du container sauf les titres respective*/
    width: 300px;
    text-align: center;
    margin: 10px;
    font-weight: 500;
}

.vide{
    transform: translate(0%, 50%);
    width: 300px;
    text-align: center;
    margin: 10px;
    font-weight: 500;
}